*{
    padding: 0px;
    margin: 0px;
}
body{
    text-align: center
}
.menu{
    background-color: #e4f9f5;
    position: relative;
    height: 140px;
}
.imgheader{
    width: 80px;
    top: 30px;
    left: 0px;
    position: relative;
}
.white-circle{
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 160px;
    height: 100px;
    width: 100px;
    background-color: white;
}
nav{
    position: absolute;
    top: 60px;
    right: 160px;
}
a{
    font-family: 'Outfit', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #4AB19A;
    text-decoration: none;
    margin: 30px;
}
a:hover{
    color: #21564B;
    transition: .3s;
}
.top-container{
    position: relative;
    background-color: #e4f9f5;
}
.top-cloud{
    position: absolute;
    top: 75px;
    right: 290px;
}
.bottom-cloud{
    position: absolute;
    top: 190px;
    left: 290px;
}
div> h1{
    font-weight: normal;
    color: #4AB19A;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    padding-top: 100px;
}
div > p{
    color: #4AB19A;
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    padding-top: 30px;
}
.mid-container > h1{
    padding-top: 200px;
    font-weight: 250;
    font-family: 'Outfit', sans-serif;
}
.mid-container > p{
    font-size: 1.2em;
    color: #545454;
    padding-top: 40px;
}
.oqfazer{
    position: relative;
}
.oqfazer > h1{
    font-size: 3em;
    padding-top: 200px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}
.oqfazer{
    position: relative;
}
.intro2-right >h3 {
    padding-top: 60px;
    right: 120px;
    position: absolute;
    font-weight: 600;
    color:#45B29A;
    font-size: 1.7em;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.intro2-right > p {
    color: #545454;
    font-size: 1.2em;
    right: 100px;
    position: absolute;
    text-align: left;
    padding-top: 110px;
}
.intro2-left{
    position: relative;
}
.intro2-left >h3 {
    padding-top: 260px;
    left: 260px;
    position: absolute;
    font-weight: 600;
    color:#45B29A;
    font-size: 1.7em;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.intro2-left > p {
    padding-top: 310px;
    color: #545454;
    font-size: 1.2em;
    left: 260px;
    position: absolute;
    text-align: left;
}
.bot-container{
    position: relative;
}
.text-help > h1{
    position: absolute;
    top: 500px;
    left: 450px;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}
.text-help > h3{
    font-weight: normal;
    position: absolute;
    left: 450px;
    top: 700px;
    font-family: 'Outfit', sans-serif;
    color: #45B29A;
    font-size: 1.2em;
}
.text-help > p{
    position: absolute;
    top: 730px;
    left: 420px;
    color: #545454;
    font-size: 1.2em;
}
.botao{
    margin: 20px;
    padding: 10px;
}