*{
    padding: 0px;
    margin: 0px;
}
body{
    text-align: center
}
.menu{
    background-color: #e4f9f5;
    position: relative;
    height: 140px;
}
.imgheader{
    width: 80px;
    top: 30px;
    left: 0px;
    position: relative;
}
.white-circle{
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 160px;
    height: 100px;
    width: 100px;
    background-color: white;
}
nav{
    position: absolute;
    top: 60px;
    right: 160px;
}
a{
    font-family: 'Outfit', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #4AB19A;
    text-decoration: none;
    margin: 30px;
}
a:hover{
    color: #21564B;
    transition: .3s;
}
.top-container{
    position: relative;
    background-color: #e4f9f5;
}
.top-cloud{
    position: absolute;
    top: 75px;
    right: 290px;
}
.bottom-cloud{
    position: absolute;
    top: 190px;
    left: 290px;
}
div> h1{
    font-weight: normal;
    color: #4AB19A;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    padding-top: 100px;
}
div > p{
    color: #4AB19A;
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    padding-top: 30px;
}
.profile > img{
    padding-top: 90px;
    width: 240px;
}